p{
    color: cadetblue;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.comentario{
    font-size: 10px;
    font-style: italic;
    color: black;
}

.fundodetexto{
background-color: aquamarine;
text-align: center
}