* {
    margin: 0;
    padding: 0;
}

body{
    background: url(../dunluce-cenarios-game-of-thrones-1-1024x683.jpg);
    background-size: cover ;
    /* background-repeat: no-repeat; */
}
figure {
    text-align: right;
    /* background-color: #2a343b;
    border: 5px solid #22719e; */

}

figcaption {
    font-size: 10px;
    font-family: sans-serif;
}

/* img {
    mix-blend-mode: multiply;
  } */