*{
    margin: 0;
    padding: 0;
}

.box1{
    background-color: blueviolet;
    height: 100vh;
}

.box2{
    background-color: azure;
    height: 100vh;

}

.box3{
    background-color: blue;
}

.box4{
    background-color: chocolate;
    
}